<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>
        화형이의 다이어리!
    </title>
</head>

<body>
    {% block message %}
    {% endblock message %}
    <header class="header">
        <div class="header_title">
            <div class="signin">
                <a href="{{url_for('signin')}}">회원가입</a>
            </div>
            <a href="{{url_for('post_list')}}">
                <h1>화형이의 다이어리!</h1>
                <p>Software Engineering Project</p>
            </a>
        </div>
        <div class="default">
            {% block user %}

            {% endblock user %}
            <a href="{{url_for('post_list')}}">글 목록</a>
        </div>
    </header>
    <div class="body">
        {% block contents %}

        {% endblock contents %}
    </div>
    <footer id="footer">
        <p class="copyright">
            DESIGN
            BY
            <a href="#">HwaHyeong</a>
            <a href="https://github.com/honghwahyeong" class="admin">
                My GitHub
            </a>
        </p>
    </footer>
</body>
{% block script %}
{% endblock script %}

</html>