<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>
        화형이의 다이어리!
    </title>
</head>

<body>
    {% block message %}
    {% endblock message %}
    <header>
        <a href="{{url_for('index')}}">
            <h1>화형이의 다이어리!<br></h1>
        </a>
        {% block user %}

        {% endblock user %}
    </header>
    {% block contents %}

    {% endblock contents %}
    <footer>

    </footer>
</body>

</html>