{% extends "index.html" %}

{% block contents %}
<div class="write_or_edit_post">
    <form action="{{url_for('edit_done',pid=post_id)}}" method="POST" enctype="multipart/form-data">
        <div class="write_or_edit_post_title">
            <input type="text" value="{{post.title}}" name="title" id="title"
                style="width: 90%; height: 30px; font-size: 25px;" required>
        </div>
        <br>
        <div class="write_or_edit_post_contents">
            <textarea rows="5" cols="40" name="contents" id="contents"
                style="width: 80%; height: 300px; font-size: 15px;" required>{{post.contents}}</textarea>
        </div>
        <br>
        <div class="write_or_edit_post_file">
            <h6>현재 이미지:{{post_id}}(image/*)</h6>
            <input type="file" name="file" id="file" accept="image/*">
        </div>
        <br>
        <button type="submit">수정</button>
    </form>
</div>
{% endblock contents %}
{% block message %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="message">
    <p style="color: red">{{messages[0][1]}}</p>
</div>
{% endif %}
{% endwith %}
{% endblock message %}