{% extends "index.html" %}


{% block contents %}
{% if length==0 %}
<p>작성된 다이어리가 없습니다.</p>
{% else %}
<div class="post_list">
    {% for diary in post_list %}
    <div class="post_list_box">
        <a href="{{url_for('post',pid=diary[0])}}">
            <div class="post_list_box_title">
                <h2>{{diary[1].title}}</h2>
            </div>
            <div class="post_list_box_uid">
                <h6>작성자: {{diary[1].uid}}</h6>
            </div>
            <div class="post_list_box_contents">
                <h4>{{diary[1].contents}}</h4>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock contents %}