{% extends "base.html" %}

{% block user %}

{% endblock user %}

{% block contents %}
{% if length==0 %}
<p>작성된 다이어리가 없습니다.</p>
{% else %}
{% for diary in post_list %}
<a href="{{url_for('post',pid=diary[0])}}">
    <div>
        <div class="list">
            <div class="title">
                <h2>제목: {{diary[1].title}}</h2>
                <div class="uid">
                    <h6>작성자: {{diary[1].uid}}</h6>
                </div>
            </div>
            <div class="content">
                <h4>내용: {{diary[1].contents}}</h4>
            </div>
        </div>
    </div>
</a>
{% endfor %}
{% endif %}
{% endblock contents %}