{% extends "index.html" %}


{% block contents %}
<div class="detail_box">
    <div class="detail_box_title">
        <h1>{{post.title}}</h1>
    </div>
    <div class="detail_box_uid">
        <h5>작성자: {{post.uid}}</h5>
    </div>
    <div class="detail_box_contents">
        <h3>{{post.contents}}</h3>
    </div>
    <div class="detail_box_image" style="width: 300px; height: 300px; overflow: hidden;">
        <p><img src="{{image}}" style="width: 300px; height: 300px;"></p>
    </div>
</div>
<div class="detail_delete_edit">
    <form action="{{url_for('edit_post',pid=post_id)}}">
        <button type="submit">수정</button>
    </form>
    <form action="{{url_for('delete_post',pid=post_id)}}">
        <button type="submit">삭제</button>
    </form>
</div>
{% endblock contents %}
{% block message %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="message">
    <p style="color: red">{{messages[0][1]}}</p>
</div>
{% endif %}
{% endwith %}
{% endblock message %}