{% extends "index.html" %}


{% block contents %}
<div class="body_signin">
    <form action="{{url_for('signin_done')}}" method="get">
        <h3>회원가입</h3><br>
        <p><input type="email" placeholder="email" name="email" id="email" /></p><br>
        <p><input type="text" placeholder="ID" name="id" id="id"></p><br>
        <p><input type="password" placeholder="Password" name="pwd" id="pwd"></p><br>
        <p><input type="text" placeholder="Name" name="name" id="name"></p><br>
        <button type="submit"> 회원가입 </button>
    </form>
</div>
{% endblock contents %}
{% block message %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="message">
    <p style="color: red">{{messages[0][1]}}</p>
</div>
{% endif %}
{% endwith %}
{% endblock message %}