{% extends "index.html" %}

{% block message %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<p>{{messages[0][1]}}</p>
{% endif %}
{% endwith %}
{% endblock message %}

{% block contents %}
<div class="write_or_edit_post">
    <form action="{{url_for('write_done')}}" method="POST" enctype="multipart/form-data">
        <div class="write_or_edit_post_title">
            <input type="text" placeholder="제목" name="title" id="title"
                style="width: 90%; height: 30px; font-size: 25px;" required>
        </div>
        <br>
        <div class="write_or_edit_post_contents">
            <textarea rows="5" cols="40" placeholder="내용" name="contents" id="contents"
                style="width: 80%; height: 300px; font-size: 15px;" required></textarea>
        </div>
        <br>
        <div class="write_or_edit_post_file">
            <input type="file" name="file" id="file" required>
        </div>
        <br>
        <button type="submit">작성</button>
    </form>
</div>
{% endblock contents %}